@charset "UTF-8";

body {
	background-color: #f8f9fa;
}

.base-box {
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-top: 25px;
}

.navbar-set {
	background-color: #212529;
}

.nav-link {
	color: white !important;	
}

.navbar-brand {
	margin-bottom: 0;
	color: white !important;
}

.hr-title {
	margin-top: 0;
}

.submit-button {
	float: right;
	margin-bottom: 20px;
}