<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Create Questionnaire</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body>

	<h1>Add a new questionnaire</h1>
	
	<form action="#" th:action="@{/CreateQuestionnaire}" method="POST">
		<fieldset>
			<h5>Choose the product for the questionnaire:</h5>
			<label for="productName">Insert name of the product</label>
			<input type="text" name="productName" required />
			
			<h5>Insert the first question:</h5>
		
			<label for="question">Question 1</label>
			<input type="text" name="question" required />
			

			<input type="submit" value="CreateQuestionnaire">
			<p th:text="${errorMsg}"></p>
		</fieldset>
	</form>
	
</body>
</html>