<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Create Product</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body>

	<h1>Create Product</h1>
	
	<form action="#" th:action="@{/Admin/CreateProduct}" method="POST">
		<fieldset>
			<h5>Choose the name of the product</h5>
			<label for="prodName">Insert name of the product</label>
			<input type="text" name="prodName" required />
			
			<h5>Upload an image of the product (optional)</h5>
			<label for="prodImageFileName"></label>
			<input type="text" name="prodImageFileName"/>
			
			<h5>Insert the date in which will be the product of the day</h5>
			<label for="prodDate"></label>
			<input type="date" name="prodDate" id="dateinput" required />
			
			<input type="submit" value="done">
			<p th:text="${errorMsg}"></p>
		</fieldset>
	</form>
	
</body>
</html>