<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Admin Inspection</title>
	<link rel="stylesheet" type="text/css" media="all"
		href="../asset/css/bootstrap.min.css" th:href="@{/asset/css/bootstrap.min.css}" />
	<script src="../asset/js/bootstrap.bundle.min.js" 
		th:src="@{/asset/js/bootstrap.bundle.min.js}"></script>
	<link rel="stylesheet" type="text/css" media="all"
		href="../asset/css/fontawesome.min.css" th:href="@{/asset/css/fontawesome.min.css}" />
	<style></style>
</head>
<body>
	<div class="container-xxl">
		<div class="row">
			<div class="col">
				<h1>Questionnaires</h1>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<ul class="list-group"  th:each="questionnaire: ${questionnaires}">
  					<li class="list-group-item" th:text="${questionnaire.getText()}"></li>
				</ul>
			</div>
		</div>
	</div>
	
	<script>
		function toggle() {
			new bootstrap.Collapse(q_optional)
			new bootstrap.Collapse(q_marketing)
			
			return true
		}
	</script>
</body>
</html>