<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Thank you!!</title>
	<link rel="stylesheet" type="text/css" media="all"
		href="../asset/css/bootstrap.min.css" th:href="@{/asset/css/bootstrap.min.css}" />
	<script src="../asset/js/bootstrap.bundle.min.js" 
		th:src="@{/asset/js/bootstrap.bundle.min.js}"></script>
	<link rel="stylesheet" type="text/css" media="all"
		href="../asset/css/fontawesome.min.css" th:href="@{/asset/css/fontawesome.min.css}" />
	<link rel="stylesheet" type="text/css" media="all"
		href="../asset/css/template.css" th:href="@{/asset/css/template.css}" />
		
	<style>
	</style>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-set">
		<div class="container-fluid">
  			<h5 class="navbar-brand" th:text="${username}"></h5>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
   			</button>
			<div class="collapse navbar-collapse" id="navbarText">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="#" th:href="@{/GoToHome}">Daily Questionnaire</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#" th:href="@{/Leaderboard}">Leaderboard</a>
					</li>
				</ul>
				<span class="navbar-text">
      				<a class="nav-link" href="#" th:href="@{/Logout}">Logout</a>
				</span>
			</div>
		</div>
	</nav>
	
	<div class="container-xxl">
		<div class="row">
			<div class="col-sm">
				<h1>Thank you for your answers!</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-sm">
				<a class="btn btn-lg btn-primary" type="button" href="#" th:href="@{/GoToHome}"><i class="fas fa-home"></i> Go to Home</a>
			</div>
		</div>
	</div>
	
	<script>
		function toggle() {
			new bootstrap.Collapse(q_optional)
			new bootstrap.Collapse(q_marketing)
			
			return true
		}
	</script>
</body>
</html>