<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Home Page</title>
	<link rel="stylesheet" type="text/css" media="all"
		href="../asset/css/bootstrap.min.css" th:href="@{/asset/css/bootstrap.min.css}" />
	<script src="../asset/js/bootstrap.bundle.min.js" 
		th:src="@{/asset/js/bootstrap.bundle.min.js}"></script>
	<link rel="stylesheet" type="text/css" media="all"
		href="../asset/css/fontawesome.min.css" th:href="@{/asset/css/fontawesome.min.css}" />
	<link rel="stylesheet" type="text/css" media="all"
		href="../asset/css/template.css" th:href="@{/asset/css/template.css}" />
	<style></style>
</head>
<body>

	<div class="base-box container-xxl">
		<div class="row">
			<div class="col">
				<h1>Product of the day</h1>
			</div>
		</div>
		<hr class="hr-title">

		<div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${errorMsg}">
			<h6 th:text="${errorMsg}"></h6>
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>

		<div class="row">

			<table class="table">
			  <thead class="thead-dark">
			    <tr>
			    <th scope="col">ID</th>
			      <th scope="col">Name</th>
			      <th scope="col">Date</th>			      
			      <th scope="col">Image</th>
			      <th scope="col">Go to Questionnaire</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr class="list-inline">
			      	<th th:text="${product.getId()}"></th>
  					<th th:text="${product.getName()}"></th>
  					<th th:text="${product.getDate()}"></th>
  					<th th:text="${product.getImageFileName()}"></th>
  					<th>
  						<a class="btn btn-success" href="#" th:href="@{/Questionnaire} + '?idProd=' + ${product.getId()}">
  							<i class="fas fa-pencil-alt"></i>
			    		</a>
			    	</th>    	
			    </tr>
			  </tbody>
			</table>
		</div>
	</div>
</body>
</html>