<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Register</title>
	<link rel="stylesheet" type="text/css" media="all"
		href="../asset/css/bootstrap.min.css" th:href="@{/asset/css/bootstrap.min.css}" />
	<script src="../asset/js/bootstrap.bundle.min.js" 
		th:src="@{/asset/js/bootstrap.bundle.min.js}"></script>
	<link rel="stylesheet" type="text/css" media="all"
		href="../asset/css/fontawesome.min.css" th:href="@{/asset/css/fontawesome.min.css}" />
	<link rel="stylesheet" type="text/css" media="all"
		href="../asset/css/template.css" th:href="@{/asset/css/template.css}" />
		
	<style>
		.white-box{
			background-color: #fff;
			padding-top: 30px;
		}
		
		.full-height{
			height: 100%;
		}
		
		.bottom-button{
			margin-top: 10px;
		}
	</style>
</head>
<body>
	<div class="login-box" th:style="'background-image:url(' + @{/asset/image/questionnaires.jpg} + ');'">
		<div class="container full-height">
			<div class="row full-height">
				<div class="col-8 offset-4 white-box">
					<div class="row">
						<div class="col-10 offset-1">
							<h1>Register</h1>
							<div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${errorMsg}">
								<h6 th:text="${errorMsg}"></h6>
								<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-10 offset-1">
							<form name="login" action="#" th:action="@{/Register}" method="post">
								<div class="mb-3">
									<label for="username" class="form-label">Username</label>
									<input type="text" class="form-control" id="username" name="username" placeholder="Insert your username" required>
								</div>
								<div class="mb-3">
									<label for="email" class="form-label">Email</label>
									<input type="email" class="form-control" id="email" name="email" placeholder="Insert your email" required>
								</div>
								<div class="mb-3">
									<label for="password" class="form-label">Password</label>
									<input type="password" class="form-control" id="password" name="password" placeholder="Insert your password" required>
								</div>
								<button type="submit" class="btn btn-success right-button">Register</button>
							</form>
						</div>
					</div>
					<div class="row">
						<div class="col-10 offset-1">
							<hr>
						</div>
					</div>
					<div class="row">
						<div class="col-10 offset-1 bottom-button">
							<a class="btn btn-primary" href="#" th:href="@{/Login}" role="button"><i class="fas fa-long-arrow-alt-left"></i> Login with your account</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>