<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
	<filter>
		<filter-name>Checker</filter-name> 
		<filter-class>it.polimi.filters.LoggedIn</filter-class> 
	</filter> 
	<filter-mapping>
	    <filter-name>Checker</filter-name> 
	    <url-pattern>/Register</url-pattern> 
	    <url-pattern>/Delete</url-pattern> 
	    <url-pattern>/GoToHomePage</url-pattern> 
	    <url-pattern>/Logout</url-pattern> 
	</filter-mapping> 
</web-app>